.d-flex {
  display: flex;
}
.jc-spbwn {
  justify-content: space-between;
}
.jc-ctr {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.ai-ctr {
  align-items: center;
}
.ai-fx-start {
  align-items: flex-start;
}
.f-wrap {
  flex-wrap: wrap;
}
