$base-color: #724DF0;
$headerHeight: 80px;
$footerHeight: $headerHeight;
$borderRadius: 16px;
$borderColor: #362F62;
$headlineColor: $borderColor;
$hoverBgColor: rgba(114, 77, 240, 0.7);
$hoverResetBgColor: rgba(114, 77, 240, 0.1);
